# Local Build Outputs & Caches
.gradle/
.kotlin/
build/
bin/
out/

# IDE & Editor Settings
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Keep Gradle Wrapper Executable Files
!gradle/wrapper/gradle-wrapper.jar

# Eclipse & NetBeans Junk
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# OS-Specific Files
.DS_Store
Thumbs.db
build.gradle perso.kts
